openapi: 3.0.3
info:
  title: CRM API
  version: "1.0.0"
  description: |
    CRM REST API

    Authorization:
    - Protected endpoints require authentication using a Bearer token.
    - Users with the `admin` role can access all resources.
    - Users with the `user` role can only access resources they own.
    - When an authenticated user does not have sufficient permissions, the API responds with `403 Forbidden`.
    
servers:
  - url: /api/v1
components:
  securitySchemes:
    schemas:
      Role:
        type: string
        description: |
          User autenticated Role

          Possible Roles:
            - admin: completly access to all resources.
            - user: limited acces to his own resources.
        enum:
          - admin
          - user
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BrearerAuth: []
paths: 
  /login:
    post:
      summary: User login
      description: Authenticates a user and returns an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: object
                  required:
                    - email
                    - password
                  properties:
                    email:
                      type: string
                      example: password
      response:
        '200':
          description: Correct login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJ0eXAiOiJKV1QiLCJhbGciOi...
        '401':
          description: Invalid credentials
  /me:
    get:
      summary: Autenticated usser
      description: Returns the data of the authenticated user.
      responses:
        '200':
          description: Autenticated usser
          content:
            application/join:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Jhon description
                  email:
                    type: string
                    example: john@example.components
                  role:
                    $ref: '#/components/schemas/Role'
        '401':
          description: No authenticated

