openapi: 3.0.3
info:
  title: CRM API
  version: "1.0.0"
  description: |
    CRM REST API

    Authorization:
    - Protected endpoints require authentication using a Bearer token.
    - Users with the `admin` role can access all resources.
    - Regular `user` role can only access resources they own.
    - When an authenticated user does not have sufficient permissions, the API responds with `403 Forbidden`.

servers:
  - url: /api/v1
components:
  securitySchemes:
    schemas:
      Role:
        type: string
        description: |
          User autenticated Role

          Possible Roles:
            - admin: completly access to all resources.
            - user: limited acces to his own resources.
        enum:
          - admin
          - user
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BrearerAuth: []
paths: 
  /login:
    post:
      summary: User login
      description: Authenticates a user and returns an access token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: object
                  required:
                    - email
                    - password
                  properties:
                    email:
                      type: string
                      example: password
      response:
        '200':
          description: Correct login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJ0eXAiOiJKV1QiLCJhbGciOi...
        '401':
          description: Invalid credentials
  /me:
    get:
      summary: Autenticated usser
      description: Returns the data of the authenticated user.
      responses:
        '200':
          description: Autenticated usser
          content:
            application/join:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Jhon description
                  email:
                    type: string
                    example: john@example.components
                  role:
                    $ref: '#/components/schemas/Role'
        '401':
          description: Not authenticated
        '403':
          description: Authenticated user without sufficient permissions.
  /clients:
    get:
      summary: List clients
      description: |
        Returns the list of clients accessible to the authenticated user.
          - Users with the `admin` role see all clients.
          - Users with the `user` role only see their own clients.
      responses:
        '200': 
          description: Clients list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: Acme CORP
                    email:
                      type: string
                      example: contact@acme.com
        '401':
          description: Not authenticated.
        '403':
          description: Without enough permissions.
    post:
      summary: Client create
      description: |
        Create a new client.
          - Users with the `admin` role can create clients.
          - Users with the `user` role can only create clients associated with themselves.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                  example: Acme CORP
                email:
                  type: string
                  example: contact@acme.com
      responses:
        '201':
          description: Client created sucssesfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Acme Corp 
                  email:
                    type: string
                    example: contact@acme.com
        '401':
          description: Not authenticated
        '403':
          description: Without enough permissions
        '422':
          description: Validation error
  /client/{id}:
    get:
      summary: Get client
      description: |
        Returns a specific client by ID.
          - Users with the `admin` role can access any client.
          - Users with the `user` role can only access clients they own.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Client found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Acme Corp
                  email:
                    type: string
                    example: contact@acme.com
        '401':
          description: Not authenticated
        '403':
          description: Without enough permissions
        '404':
          description: Client not found
    patch:
      summary: Update client
      description: |
        Partially update an existing client.
          - Users with the `admin` role can update any client.
          - Users with the `user` role can only update clients they own.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Acme Corp Updated
                email:
                  type: string
                  example: Updated@acme.com
      responses:
        '200':
          description: Client updated sucssesfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  name: 
                    type: string
                    example: Acme Corp Updated
                  email:
                    type: string
                    example: updated@acme.com
        '401':
          description: Not autenticated
        '403':
          description: Without enough permissions
        '404':
          description: Client not found
        '422':
          description: Validation error
    delete:
      summary: Delete client
      description: |
        Delete an existing client.
          - Users with the `admin` role can delete any client.
          - Users with the `user` role can only delete clients they own.
      paramerters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '204':
          description: Client deleted succsesfully
        '401':
          description: Not autenticated
        '403':
          description: Without enough permissions
        '404':
          description: Client not found
  /activities:
    get:
      summary: List activities
      description: |
        Returns the list of activities accessible to the authenticated user.
          - Users with the `admin` role see all activities.
          - Users with the `user` role only see their own activities.
      responses:
        '200':
          description: Activities list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    title:
                      type: string
                      example: Follow up call
                    description:
                      type: string
                      example: Follow up call to client
                    client_id:
                      type: integer
                      example: 5
        '401':
          description: Not autenticated
        '403':
          description: Without enough permissions




