services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: apirest_app
    env_file:
      - .env.docker
    ports:
      - "8000:8000"
    volumes:
      - ./:/var/www
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: apirest_db
    environment:
      MYSQL_DATABASE: apirest
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - apirest_db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  apirest_db_data:
